.div {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: row;
  color: #43404d;
  font-size: 20px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #28284a;
  font-size: 22px;
}

.userContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.p{
  color:#7e77a0;
}