.div {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: row;
  font-size: 20px;
}

.userContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.p_lightTheme {
  color: #7e77a0;
}
.p_darkTheme {
  color: #eec0f0;
}
