.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h1 {
  @media screen and (max-width: 767px) {
    margin-top: 30px;
    font-weight: 700;
    font-size: 32px;
  }
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
.h1_lightTheme {
  color: #7e77a0;
}
.h1_darkTheme {
  color: #eec0f0;
}
.gif {
  @media screen and (max-width: 767px) {
    width: 90%;
    height: 90%;
    margin-top: 15px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 30px;
  }
  width: 50%;
  height: 50%;
}
