.container {
  margin: 0 auto;
  padding: 0 10px 50px 10px;
  height: max-content;
}
.lightTheme {
  height: 100vh;
  background-size: cover;
  background: linear-gradient(180deg, #f8e3df 0%, #a089a6 82.29%);
}

.darkTheme {
  height: 100vh;
  background-size: cover;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(180deg, #b338ff 0%, #466fff 100%);
}
.lightBg {
  height: 832px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/images/background/light_bg.png);
}

.darkBg {
  height: 832px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/images/background/dark_bg.png);
}
